<ion-content padding>
  <div class="privkey">
    <ion-label position="stacked">个人私钥</ion-label>
    <ion-textarea class="f14" placeholder="请输入您的私钥"></ion-textarea>
  </div>
  <div class="gutter">
    <ion-label position="stacked">请设定一个密码保护钱包</ion-label>
    <ion-input type="password" class="f14" placeholder="密码"></ion-input>
    <ion-input type="password" class="f14" placeholder="重复密码"></ion-input>
  </div>
  <div class="gutter notice">
    <ion-checkbox color="dark" [(ngModel)]="form.checked"></ion-checkbox>
    <ion-label class="f14" padding-start>我已知悉，ZJUBCA不对用户私钥负任何责任</ion-label>
  </div>
  <ion-button class="btn" color="dark" expand="full" [disabled]="!form.checked" (click)="submitForm()">导入钱包</ion-button>
</ion-content>
