<ion-content padding>
  <ion-item>
    <ion-label position="stacked">账号名</ion-label>
    <ion-input class="f14" placeholder="请设计账户名"></ion-input>
  </ion-item>
  <ion-item class="gutter">
    <ion-label position="stacked">请设定一个密码保护钱包</ion-label>
    <ion-input class="f14" type="password" placeholder="密码"></ion-input>
    <ion-input class="f14" type="password" placeholder="重复密码"></ion-input>
  </ion-item>
  <ion-item class="gutter">

  </ion-item>
  <ion-button class="gutter" color="dark" expand="full">创建钱包</ion-button>
</ion-content>
