.f14 {
  font-size: 14px;
}

.f12 {
  font-size: 12px;
}

.gutter {
  margin-top: 20px;
}

.keyarea {
  margin-top: 10px;
}

.notice {
  display: flex;
  align-items: center;
}

.privLabel {
  display: flex;
  align-items: center;
}
