<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" icon="arrow-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div class="logoBox">
    <ion-img class="logo" src="/assets/img/logo.png"></ion-img>
    <div>
      <ion-label class="f18">ZJUBCA</ion-label>
    </div>
    <div class="name">
      <ion-label class="f14">浙江大学区块链协会</ion-label>
    </div>
  </div>
  <ion-list lines="full" class="introList">
    <ion-item class="f14 introItem" *ngFor="let item of intros" (click)="goOutsideUrl(item.link)">
      <ion-label>{{item.key}}</ion-label>
      <ion-label class="value" slot="end" *ngIf="item.value">{{item.value}}</ion-label>
      <ion-icon color="medium" class="f14" name="ios-arrow-forward" slot="end" *ngIf="item.link"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<!--贡献者名单-->
<!--1. 杨奕辉 浙大区块链协会创始人之一及首届会长-->
<!--2. 郝广博 技术组 资深web开发-->
<!--3. 凌君华 设计组 资深设计师-->
