.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.account {
  display: flex;
  align-items: center;
}

.f18 {
  font-size: 18px;
}

.btn {
  width: 80px;
  height: 80px;
}

.alignRight {
  text-align: right;
  padding-right: 10px;
}

.accNameSelect {
  text-align: right;
}
