.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.account {
  display: flex;
  align-items: center;
}

.btn {
  width: 80px;
  height: 80px;
}

.alignRight {
  text-align: right;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.accNameSelect {
  text-align: right;
}

.resrc {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

.gutter {
  margin-top: 10px;
}

.spinner {
  width: 16px;
  height: 16px;
}
