<ion-header>
  <ion-toolbar>
    <ion-title>钱包</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="showMenu($event)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="info" color="dark">
    <ion-grid padding>
      <ion-row class="account">
        <ion-col>
          <h3>账户名</h3>
        </ion-col>
        <ion-col>
          <ion-select interface="popover" (ionChange)="nameChange()" [interfaceOptions]="{header:'账户名'}"
                      class="accNameSelect f18"
                      [(ngModel)]="currAccount">
            <ion-select-option *ngFor="let account of accounts" [value]="account" [selected]="account === currAccount">
              {{account}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>EOS</ion-col>
        <ion-col class="alignRight">{{loading ? 'loading...' : balance.eos}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>ZJUBCA</ion-col>
        <ion-col class="alignRight">{{loading ? 'loading...' : balance.zjubca}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="resrc">
        <div class="info f14">
          <ion-label>RAM</ion-label>
          <ion-note>{{format(resource['ram'].used, 0)}} / {{format(resource['ram'].max, 0)}}</ion-note>
        </div>
        <ion-progress-bar color="medium" [buffer]="1"
                          [value]="resource['ram'].used/resource['ram'].max"></ion-progress-bar>
      </div>
      <div class="resrc gutter">
        <div class="info f14">
          <ion-label>CPU</ion-label>
          <ion-note>{{format(resource['cpu'].used, 1)}} / {{format(resource['cpu'].max, 1)}}</ion-note>
        </div>
        <ion-progress-bar color="medium" [buffer]="1"
                          [value]="resource['cpu'].used/resource['cpu'].max"></ion-progress-bar>
      </div>
      <div class="resrc gutter">
        <div class="info f14">
          <ion-label>NET</ion-label>
          <ion-note>{{format(resource['net'].used, 0)}} / {{format(resource['net'].max, 0)}}</ion-note>
        </div>
        <ion-progress-bar color="medium" [buffer]="1"
                          [value]="resource['net'].used/resource['net'].max"></ion-progress-bar>
      </div>
    </ion-card-content>
  </ion-card>
  <div padding class="btnGroup">
    <ion-fab-button class="btn" color="dark" routerLink="/transfer">转账</ion-fab-button>
    <ion-fab-button class="btn" color="light" routerLink="/bill">收款</ion-fab-button>
  </div>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>发现</ion-label>
    </ion-list-header>
    <ion-item routerLink="/tokens">
      <ion-icon slot="start" color="medium" name="wallet"></ion-icon>
      <ion-label>我的资产</ion-label>
    </ion-item>
    <ion-item routerLink="/nft">
      <ion-icon slot="start" color="medium" name="cube"></ion-icon>
      <ion-label>我的藏品</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
