<ion-header>
  <ion-toolbar>
    <ion-buttons padding-start slot="start">验证密码</ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="actionGroup">
    <ion-input type="password" class="input" placeholder="钱包密码" [(ngModel)]="password"></ion-input>
    <ion-button class="btn" expand="full" color="dark" (click)="submit()">提交</ion-button>
  </div>
</ion-content>
