<ion-header>
  <ion-toolbar>
    <ion-buttons padding-start slot="start">验证密码</ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="type" *ngIf="!!type && type!=='exportKey'">
    <ion-label position="stacked">{{type}}</ion-label>
  </div>
  <div *ngIf="actions && actions.length!==0">
    <ion-item-divider class="gutter f14">
      <ion-textarea class="data" [value]="formatData" readonly="true"></ion-textarea>
    </ion-item-divider>
  </div>
  <div class="actionGroup gutter">
    <ion-input type="password" class="input" placeholder="钱包密码" [(ngModel)]="password"></ion-input>
    <ion-button class="btn" expand="full" color="dark" (click)="submit()">提交</ion-button>
  </div>
  <div class="whitelist gutter" *ngIf="sign && type!=='exportKey'">
    <ion-checkbox class="checkbox" color="dark" [(ngModel)]="whitelist"></ion-checkbox>
    <ion-label class="f14" padding-start>退出应用前不再输入密码</ion-label>
  </div>
</ion-content>
