ion-header ion-toolbar:first-child {
  padding-top: 0px;
}

.data {
  height: 200px;
}

.actionGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  flex: 2;
  font-size: 14px;
  --padding-start: 10px;
  border: 1px solid #efefef;
  height: 40px;
  margin-right: 10px;
}

.btn {
  flex: 1;
  height: 40px;
}

.whitelist {
  display: flex;
  align-items: center;

  .checkbox {
    --size: 18px;
  }
}

.gutter {
  margin-top: 10px;
}
