.gutter {
  margin-top: 20px;
}

.valueForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.symbol {
  margin-right: 10px;
  margin-left: -16px;
}

.qrScanner {
  position: absolute;
  right: 18px;
  margin-top: -27px;
}
