.bg {
  --background: #f0f0f0;
}

.accountList {
  max-height: 220px;
  overflow: scroll;
  margin-bottom: 10px;
}

.deleteBtn {
  margin-top: 20px;
}

.loading {
  text-align: center;
  padding: 10px 0;
}
