// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.f14 {
  font-size: 14px;
}

.f12 {
  font-size: 12px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.modal {
  .modal-wrapper {
    position: inherit;
    bottom: 0px;
  }
}

.transactModal {
  --height: 400px;
}

.noActionTransactModal {
  --height: 180px;
}

.infinite-loading {
  margin-bottom: 4px;
}

.shortToast {
  --width: 140px;
  text-align: center;
}

.list-md {
  padding-top: 0;
  padding-bottom: 0;
}

ion-card-header + .card-content-md {
  padding-top: 13px;
}

// FIXME: temporary solution, maybe removed in the future.
.select-icon {
  margin-left: 10px;
}
