.bg {
  background-color: white;
}

.loading {
  position: absolute;
  padding: 20px 0;
  left: 50%;
  transform: translateX(-50%);
}

.group {
  margin-bottom: 10px;
  padding-right: 15px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.dappItem {
  --padding-top: 5px;
  --padding-bottom: 5px;

  .detail {
    --padding-start: 10px;
  }
}
