<ion-header>
  <ion-toolbar>
    <ion-title>Dapp中心</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-list lines="none">
    <div *ngFor="let group of groups" class="group">
      <div *ngIf="dapps[group].length>0">
        <ion-list-header class="header">
          <ion-label>{{group}}</ion-label>
          <ion-icon class="f18" name="ios-list" (click)="goNav('/dapp-list/'+group)"></ion-icon>
        </ion-list-header>
        <ion-item *ngFor="let dapp of dapps[group].slice(0,showAmount)" class="dappItem" (click)="goDappNav(dapp.url)">
          <ion-avatar slot="start">
            <img [src]="dapp.icon"/>
          </ion-avatar>
          <ion-label class="detail">
            <ion-label>{{dapp.name}}</ion-label>
            <ion-note class="f14">{{dapp.abstract}}</ion-note>
          </ion-label>
          <ion-icon slot="end" name="ios-arrow-forward" color="medium" class="f14"></ion-icon>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
